<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
	<meta charset="utf-8">

	<title>Persona | Minimal Resume</title>

	<!-- Behavioral Meta Data -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!-- Core Meta Data -->
	<meta name="author" content="Aether-Themes">
	<meta name="description" content="Persona. Minimal resume and CV landing page.">
	<meta name="keywords" content="template,CV,resume,landing page,minimal,responsive,html5,css3,jquery">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.png" type="image/png">

	<!-- Apple Touch Icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57-precomposed.png">

	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="css/framework.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	
	<!-- Colors -->
	<link rel="stylesheet" type="text/css" href="css/colors/ruby-red.css" media="screen">
	<!-- <link rel="alternate stylesheet" type="text/css" href="css/colors/aqua-blue.css" media="screen"> -->
	<!-- <link rel="alternate stylesheet" type="text/css" href="css/colors/mint-green.css" media="screen"> -->
	<!-- <link rel="alternate stylesheet" type="text/css" href="css/colors/rose-pink.css" media="screen"> -->
	<!-- <link rel="alternate stylesheet" type="text/css" href="css/colors/sunflower-yellow.css" media="screen"> -->

	<!-- Javascript -->
	<script src="js/modernizr.js"></script>
	<script src="js/jquery.js"></script>
</head>
<body>
	<!-- Begin Pageloader -->
	<div id="pageloader">
		<!-- Content -->
		<div class="pageloader-content">
			<img src="images/loading.gif" alt="">
			<h6>loading</h6>
		</div><!-- END Content -->
	</div><!-- END Pageloader -->

	<!-- Sticky Nav -->
	<header>
		<!-- Container -->
		<div class="container">
			<div class="row header-inner">

				<!-- Logo -->
				<div class="col-xs-6 col-lg-2">
					<img class="logo has-retina" src="images/logo.png" alt="Persona">
				</div>

				<!-- Nav Button -->
				<div class="menu-button">
					<span class="before"></span>
					<span class="main"></span>
					<span class="after"></span>
				</div>

				<!-- Navigation -->
				<nav class="col-xs-12 col-lg-2 col-lg-offset-8">
					<ul id="side-nav">
						<li><a href="#section1">About</a></li>
						<li><a href="#section2">Work</a></li>
						<li class="offset"><a href="#section3">Experience</a></li>
						<li><a href="#section4">Clients</a></li>
						<li><a href="#section5">Contact</a></li>
						<li><a id="top" href="#">Top</a></li>
					</ul>
				</nav><!-- END Navigation -->
			</div>
		</div><!-- END Container -->
	</header><!-- END Sticky Nav -->

	<!-- Begin Hero -->
	<section class="hero">
		<div class="container">
			<!-- Hero Content -->
			<div class="row hero-content" data-0="opacity: 1; transform: translate3d(0px, 0px, 0px);" data-top-bottom="opacity: 0; transform: translate3d(0px, 300%, 0px);">
				<!-- Logo -->
				<div class="col-xs-12 col-lg-2">
					<img class="logo has-retina" src="images/logo.png" alt="Persona">
				</div>

				<!-- Intro -->
				<div class="col-xs-10 col-sm-9 col-lg-7">
					<h2>introduction</h2>
					<h1>Hi! I am <span class="highlight">Persona</span>. Designer &amp; Art Director. Based in New York.</h1>
					<a href="#section1" class="scroll-to"></a>
				</div>
			</div><!-- END Hero Content -->
		</div><!-- END Container -->
	</section><!-- END Hero -->
	

	<div class="container">
		<!-- About -->
		<section id="section1" class="padded-top">

			<!-- Content -->
			<div class="row">
				<div class="col-xs-12 col-lg-8 col-lg-offset-2">
					<h2>about</h2>
					<p>Born &amp; raised in America, I'm genuinely inspired by industrial minimalism and different cultures. Over six years in business, I have had a chance to work on a variety of projects, with agencies, companies or even individuals. Custom work is my territory, branding, web design, UI/UX design, print design &amp; any offline design.</p>
					<p>You can find my design work on <a href="#">Dribbble</a> and <a href="#">Behance</a>, random thoughts on <a href="#">Twitter</a> and <a href="#">Medium</a>, beautiful pics on <a href="#">Instagram</a> and almost a full resume on <a href="#">Linkedin</a>. For work inquires please send me an <a href="mailto:hello@persona.com">email</a>.</p>
				</div>
			</div>

			<!-- Skills -->
			<div class="row">
				<div class="col-xs-12 col-lg-8 col-lg-offset-2">

					<!-- Bar 1 -->
					<div class="bar-title">Wordpress<span class="align-right">90%</span></div>
					<div class="bar"><div class="bar-fill" data-percent="90%"></div></div>

					<!-- Bar 2 -->
					<div class="bar-title">HTML &amp; CSS<span class="align-right">80%</span></div>
					<div class="bar"><div class="bar-fill" data-percent="80%"></div></div>

					<!-- Bar 3 -->
					<div class="bar-title">Photoshop<span class="align-right">95%</span></div>
					<div class="bar"><div class="bar-fill" data-percent="95%"></div></div>

					<!-- Bar 4 -->
					<div class="bar-title">Javascript<span class="align-right">65%</span></div>
					<div class="bar"><div class="bar-fill" data-percent="65%"></div></div>

				</div>
			</div>
		</section><!-- END About -->

		<!-- Work -->
		<section id="section2">
			<!-- Title -->
			<div class="row padded-top">
				<div class="col-xs-12 col-lg-8 col-lg-offset-2">
					<h2>work</h2>
				</div>
			</div>

			<div class="row padded-bottom">
				<!-- Begin Gallery -->
				<ul class="folio-list">

					<!-- Project 1 -->
					<li class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-lg-4 col-lg-offset-2">
						<a class="lightbox" href="images/portfolio/project1.jpg">
							<div class="atvImg">
								<img src="images/portfolio/project1.jpg" alt="portfolio">

								<div class="atvImg-layer" data-img="images/portfolio/project1.jpg"></div>
							</div>
						</a>
					</li>

					<!-- Project 2 -->
					<li class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0 col-lg-4">
						<a class="lightbox" href="images/portfolio/project2.jpg">
							<div class="atvImg">
								<img src="images/portfolio/project2.jpg" alt="portfolio">

								<div class="atvImg-layer" data-img="images/portfolio/project2.jpg"></div>
							</div>
						</a>
					</li>

					<!-- Project 3 -->
					<li class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-lg-4 col-lg-offset-2">
						<a class="lightbox" href="images/portfolio/project3.jpg">
							<div class="atvImg">
								<img src="images/portfolio/project3.jpg" alt="portfolio">

								<div class="atvImg-layer" data-img="images/portfolio/project3.jpg"></div>
							</div>
						</a>
					</li>

					<!-- Project 4 -->
					<li class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0 col-lg-4">
						<a class="lightbox" href="images/portfolio/project4.jpg">
							<div class="atvImg">
								<img src="images/portfolio/project4.jpg" alt="portfolio">

								<div class="atvImg-layer" data-img="images/portfolio/project4.jpg"></div>
							</div>
						</a>
					</li>

					<!-- Project 5 -->
					<li class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-lg-4 col-lg-offset-2">
						<a class="lightbox" href="images/portfolio/project5.jpg">
							<div class="atvImg">
								<img src="images/portfolio/project5.jpg" alt="portfolio">

								<div class="atvImg-layer" data-img="images/portfolio/project5.jpg"></div>
							</div>
						</a>
					</li>

					<!-- Project 6 -->
					<li class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0 col-lg-4">
						<a class="lightbox" href="images/portfolio/project6.jpg">
							<div class="atvImg">
								<img src="images/portfolio/project6.jpg" alt="portfolio">

								<div class="atvImg-layer" data-img="images/portfolio/project6.jpg"></div>
							</div>
						</a>
					</li>
				</ul><!-- END Gallery -->
			</div>
		</section><!-- END Work -->

		<!-- Experience -->
		<section id="section3">
			<!-- Title -->
			<div class="row">
				<div class="col-xs-12 col-lg-8 col-lg-offset-2">
					<h2>experience</h2>
				</div>
			</div>

			<!-- Timeline -->
			<div class="row">
				<div class="timeline col-xs-12 col-lg-8 col-lg-offset-2">
					<div class="entry">
						<div class="time on">Oct 2015 - Present</div>
						<div class="content"><span class="strong">Anchor</span><br>Co-founder, Front-end Designer</div>
					</div>

					<div class="entry">
						<div class="time">Jul 2014 - Oct 2015</div>
						<div class="content"><span class="strong">European Winter</span><br>CEO &amp; Creative Director</div>
					</div>

					<div class="entry">
						<div class="time">Mar 2014 - Jul 2014</div>
						<div class="content"><span class="strong">Creative Dot</span><br>Senior Visual Designer</div>
					</div>

					<div class="entry">
						<div class="time">Feb 2013 - Mar 2014</div>
						<div class="content"><span class="strong">Playground</span><br>Creative Designer</div>
					</div>

					<div class="entry">
						<div class="time">Nov 2011 - Feb 2013</div>
						<div class="content"><span class="strong">Big Spaceship</span><br>Mid-level Designer</div>
					</div>

					<div class="entry">
						<div class="time">Dec 2009 - Nov 2011</div>
						<div class="content"><span class="strong">Freelance</span></div>
					</div>
				</div>
			</div>

			<!-- Button -->
			<div class="row padded-top">
				<div class="col-xs-12 col-lg-8 col-lg-offset-2">
					<a class="button" href="#">Download Resume</a>
				</div>
			</div>
		</section><!-- END Experience -->

		<!-- Clients -->
		<section id="section4">

			<!-- Title -->
			<div class="row padded-top">
				<div class="col-xs-12 col-lg-8 col-lg-offset-2">
					<h2>clients</h2>
				</div>
			</div>

			<!-- Large Text -->
			<div class="row">
				<div class="col-xs-12 col-lg-8 col-lg-offset-2">
					<h1>Had the privilege to work with companies such as <span class="highlight">Airbnb</span>, <span class="highlight">ClassDojo</span>, <span class="highlight">Puma</span>, <span class="highlight">Škoda</span>, <span class="highlight">Twitter</span> &amp; more.</h1>
					<p>Featured on Behance, The Dieline, Awwwards, siteinspire.com &amp; more.</p>
				</div>
			</div>

			<!-- Logos -->
			<div class="row">
				<div class="col-xs-12 col-lg-8 col-lg-offset-2">
					<a class="client" href="#"><img class="has-retina" src="images/client-1.png" alt=""></a>
					<a class="client" href="#"><img class="has-retina" src="images/client-3.png" alt=""></a>
					<a class="client" href="#"><img class="has-retina" src="images/client-2.png" alt=""></a>
					<a class="client" href="#"><img class="has-retina" src="images/client-4.png" alt=""></a>
				</div>
			</div>

		</section><!-- END Clients -->

		<!-- Contact -->
		<section id="section5">

			<!-- Title -->
			<div class="row padded-top">
				<div class="col-xs-12 col-lg-8 col-lg-offset-2">
					<h2>contact</h2>
				</div>
			</div>

			<!-- Form -->
			<div class="row padded-bottom">
				<div class="col-xs-12 col-lg-8 col-lg-offset-2">
					<h1><a href="mailto:hello@persona.com">hello@persona.com</a></h1>
					<p>Or just send me an email straight through here:</p>

					<form id="contact" name="contact" method="post" novalidate="novalidate">
						<fieldset>
							<label for="name">Name</label>
							<input type="text" name="name" id="name" />
							<label for="email">Email</label>
					        <input type="email" name="email" id="email" />
					        <label for="message">Message</label>
					        <textarea name="message" id="message"></textarea>
					        <input id="submit" type="submit" name="submit" value="Send Email">
						</fieldset>
					</form>

					<div id="success">
						<p>Your message was sent successfully! I will be in touch as soon as I can.</p>
					</div>

					<div id="error">
						<p>Something went wrong, try refreshing and submitting the form again.</p>
					</div>
				</div>
			</div>

		</section><!-- END Contact -->
	</div><!-- END Container -->

	<!-- Footer -->
	<footer class="padded">
		<!-- Container -->
		<div class="container">

			<!-- Social List -->
			<div class="row">
				<div class="social-list col-xs-12 col-lg-8 col-lg-offset-2">
					<a href="#"><i class="social-icon-twitter"></i></a>
					<a href="#"><i class="social-icon-facebook"></i></a>
					<a href="#"><i class="social-icon-dribbble"></i></a>
					<a href="#"><i class="social-icon-behance"></i></a>
					<a href="#"><i class="social-icon-instagram"></i></a>
					<a href="#"><i class="social-icon-linkedin"></i></a>
				</div>
			</div><!-- END Social List -->

			<!-- Copyright -->
			<div class="row">
				<div class="social-list col-xs-12 col-lg-8 col-lg-offset-2">
					<p class="copyright">© 2016 Persona. All rights reserved.</p>
				</div>
			</div><!-- END Copyright -->
		</div><!-- END Container -->
	</footer><!-- END Footer -->

	<!-- Javascript -->
	<script type="text/javascript">
	function resizeNow() {
        var browserwidth = $(window).width();
        var browserheight = $(window).height();
        $('.pageloader-content').css('right', ((browserwidth - $(".pageloader-content").width()) / 2)).css('top', ((browserheight - $(".pageloader-content").height()) / 2));
    }

    resizeNow();
    $(window).resize(resizeNow);
	</script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
